@page
@model RecipeWebsite.Pages.Ingredients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Wszystkie Składniki</h1>

<p>
    <a asp-page="Create">Dodaj nowy składnik</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].TypeOfFood)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ingredient) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfFood)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edytuj</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Szczegóły</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
