@page
@model RecipeWebsite.Pages.Recipes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Wszystkie Przepisy</h1>

<p>
    <a asp-page="Create">Dodaj nowy przepis</a> |
    <a asp-page="../QuantityInRecipes/Create">Dodaj składnik do przepisu</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Wyszukaj przepis:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Szukaj" class="btn btn-primary" /> |
            <a asp-page="./Index">Pełna lista</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.Recipes[0].Name)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ServingSort">
                    @Html.DisplayNameFor(model => model.Recipes[0].NumberOfServings)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.Recipes[0].LastTimeServed)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Recipes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfServings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastTimeServed)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RecipeID">Edytuj</a> |
                <a asp-page="./Details" asp-route-id="@item.RecipeID">Szczegóły</a> |
                <a asp-page="./Delete" asp-route-id="@item.RecipeID">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
